{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
    ],
    "plugins": [
        "@typescript-eslint",
        "simple-import-sort"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "semi": "off",
        "react/prop-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
    }
}