.main {
    height: calc(100% - 64px);
    width: 100%;
}

.card {
    position: absolute;
    top: 80px;
    width: 97%;
    padding: 0 10px;
}

.controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modeButton {
    margin: 0 0 10px auto;
}